/* NAVBAR */

.navbar {
  position: fixed;

  top: 24px;
  left: 4%;

  transform: translateX(-50%);

  width: min(1350px, 92%);

  height: 68px;

  padding: 0 1.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 999px;

  background:
    linear-gradient(
      to bottom,
      rgba(18,18,20,0.82),
      rgba(10,10,12,0.72)
    );

  border:
    1px solid rgba(255,255,255,0.08);

  backdrop-filter: blur(24px);

  -webkit-backdrop-filter: blur(24px);

  box-shadow:
    0 10px 40px rgba(0,0,0,0.35);

  z-index: 9999;

  overflow: visible;
}

/* GLOW */

.navbar::before {
  content: "";

  position: absolute;

  inset: 0;

  border-radius: inherit;

  background:
    radial-gradient(
      circle at top,
      rgba(139,92,246,0.12),
      transparent 65%
    );

  pointer-events: none;
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;

  gap: 0.7rem;

  position: relative;
  z-index: 3;

  cursor: pointer;
}

.logo span {
  color: white;

  font-size: 1rem;
  font-weight: 600;
}

.dot {
  width: 10px;
  height: 10px;

  border-radius: 50%;

  background:
    linear-gradient(
      135deg,
      #8b5cf6,
      #d946ef
    );

  box-shadow:
    0 0 18px rgba(168,85,247,0.7);
}

/* DESKTOP LINKS */

.navLinks {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;

  gap: 0.5rem;

  padding: 0.45rem;

  border-radius: 999px;

  background:
    rgba(255,255,255,0.03);

  border:
    1px solid rgba(255,255,255,0.04);
}

.link {
  position: relative;

  padding:
    0.85rem 1.25rem;

  border-radius: 999px;

  text-decoration: none;

  color:
    rgba(255,255,255,0.68);

  font-size: 0.92rem;
  font-weight: 500;

  overflow: hidden;

  transition: 0.25s ease;
}

.link:hover {
  color: white;
}

.hover {
  position: absolute;

  inset: 0;

  border-radius: inherit;

  background:
    linear-gradient(
      135deg,
      rgba(139,92,246,0.18),
      rgba(217,70,239,0.1)
    );

  opacity: 0;

  transition: 0.25s ease;

  z-index: -1;
}

.link:hover .hover {
  opacity: 1;
}

.navButton {
  padding: 1rem 1.2rem;
  border-radius: 18px;
  text-decoration: none;
  height: 52px;
  border: none;
  border-radius: 18px;
  color: white;

  font-size: 0.95rem;
  font-weight: 600;

  background:
    linear-gradient(
      135deg,
      #7c3aed,
      #c026d3
    );
}

/* BUTTON */

.cta {
  height: 48px;

  padding: 0 1.4rem;

  border: none;
  border-radius: 999px;

  cursor: pointer;

  color: white;

  font-size: 0.92rem;
  font-weight: 600;

  background:
    linear-gradient(
      135deg,
      #7c3aed,
      #c026d3
    );

  box-shadow:
    0 10px 25px rgba(139,92,246,0.28);
}

/* MOBILE */

.mobileMenu {
  display: none;

  width: 46px;
  height: 46px;

  border-radius: 14px;

  background:
    rgba(255,255,255,0.04);

  border:
    1px solid rgba(255,255,255,0.06);

  align-items: center;
  justify-content: center;

  flex-direction: column;

  gap: 0.35rem;

  cursor: pointer;

  z-index: 10;
}

.mobileMenu span {
  width: 18px;
  height: 2px;

  border-radius: 999px;

  background: white;

  transition: 0.3s ease;
}

/* X ICON */

.topOpen {
  transform:
    rotate(45deg)
    translateY(4px);
}

.bottomOpen {
  transform:
    rotate(-45deg)
    translateY(-4px);
}

/* MOBILE DROPDOWN */

.mobileDropdown {
  position: absolute;

  top: 82px;
  left: 0;

  width: 100%;

  padding: 1rem;

  border-radius: 28px;

  background:
    linear-gradient(
      to bottom,
      rgba(18,18,20,0.95),
      rgba(10,10,12,0.92)
    );

  border:
    1px solid rgba(255,255,255,0.08);

  backdrop-filter: blur(24px);

  display: flex;
  flex-direction: column;

  gap: 0.8rem;
}

/* MOBILE LINK */

.mobileLink {
  padding: 1rem 1.2rem;
  border-radius: 18px;
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  background:
    rgba(255,255,255,0.03);
  border:
    1px solid rgba(255,255,255,0.04);
  transition: 0.25s ease;
}

.mobileLink:hover {
  background:
    rgba(139,92,246,0.12);

  color: white;
}

/* MOBILE BUTTON */

.mobileButton {
  padding: 1rem 1.2rem;
  border-radius: 18px;
  text-decoration: none;
  height: 52px;
  border: none;
  border-radius: 18px;
  color: white;

  font-size: 0.95rem;
  font-weight: 600;

  background:
    linear-gradient(
      135deg,
      #7c3aed,
      #c026d3
    );
}

/* RESPONSIVE */

@media (max-width: 980px) {

  .navLinks,
  .cta {
    display: none;
  }
  .navButton {
    display: none;
  }

  .mobileMenu {
    display: flex;
  }

  .navbar {
    height: 72px;

    border-radius: 28px;
  }
}

@media (max-width: 600px) {

  .navbar {
    top: 16px;

    width: 94%;

    height: 68px;

    padding: 0 1rem;
  }

  .logo span {
    font-size: 0.92rem;
  }

  .mobileDropdown {
    top: 78px;

    border-radius: 24px;
  }
}